.gallery__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  margin: 25px auto 31px 21px;
  padding: 0;  
}