.popup__container{
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

@media (max-width: 600px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}