.header {
  margin: 45px auto 0;
  border-bottom: 1px solid rgb(84 84 84 / 70%);
  width: 73%;
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 28px;
    margin-bottom: 38px;
    width: 100%;
  }
}