
.popup__closeform-button {
  background-image: url(../../../images/CloseIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 41px;
  height: 41px;
  justify-self: end;
  align-self: center;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  padding: 0; 
}

.popup__closeform-button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s linear;
}
