.profile__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 31px;
  padding: 0;
  align-items: center;
  max-width: 392px;
  min-width: 360px;
}

@media screen and (max-width: 600px) {
  .profile__info {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    max-width: 250px;
    min-width: 240px;
  }
}
