.profile__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 20px;
  padding: 0;
  align-items: center;
  max-width: 392px;
}

@media screen and (max-width: 870px) {
  .profile__info {
    max-width: 280px;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    max-width: 230px;
  }
}
